<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>EMG File Upload</title>
  </head>
  <body>
    <div class="container">
      <%= typeof msg != 'undefined' ? msg: '' %>
      <form action="/upload" method="post" enctype="multipart/form-data">
        <div class="file-field input-field">
          <div class="btn grey">
            <span>File</span>
            <input type="file" name="myImage" />
          </div>
          <div class="file-path-wrapper">
            <input type="submit" class="file-path validate" />
          </div>
        </div>
      </form>
      <br />
      <img
        src="      <%= typeof file != 'undefined' ? file: '' %>
      "
        class="img-responsive"
        alt=""
      />
    </div>
  </body>
</html>
